* {
  box-sizing: border-box;
}

body {
  background-color: #c9d2fc;
}

#house{
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: linear-gradient(#4849e8 85%, #abc4ff 100%);
  width: 205px;
  height: 180px;
  border: 4px solid #000;
  border-radius: 0;
}

#roof {
  position: absolute;
  right:0;
  Left:0;
  top: -70px;
  left: 0;
  z-index: 4;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  border-left: 70px solid transparent;
  border-right: 70px  solid transparent;
  border-bottom: 70px solid #ddf344;
  
}


#chimney {
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 2px;
   width: 25px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 0;
  z-index:-2;
 border-top: 20px solid #5b5b5f;
  border-bottom: 30px solid #3b3b4f;

}



#window-1 {
  position: absolute;
  top: 300px;
  left: 100px;
  border-radius: 0;
 
  width: 30px;
  height: 40px;
  background-color: #3b3b4f;
}

.window-2 {
  position: absolute;
  top: 300px;
  left: 200px;
  border-radius: 0%;
  
  width: 30px;
  height: 40px;
  background-color: #3b3b4f;
}

#house-left-inner-window {
  position: absolute;
  top: 8px;
  left: 2px;
  width: 20px;
  height: 30px;
  transform: rotate(0deg);
  background-color: #abc4ff;
  border-radius: 0;
}

#house-right-inner-window {
  position: absolute;
  top: 8px;
  left: 2px;
  transform: rotate(0deg);
  width: 20px;
  height: 30px;
  background-color: #abc4ff;
  border-radius: 0%;
}

#door {
  position: absolute;
  top: 355px;
  left: 1120px;
  border-radius: 0%;
   width: 60px;
  height: 90px;
   background: radial-gradient(#ddf344 15%, #abc4ff 100%);
  border:solid black;
}

#house-door-knob{
  position:absolute;
  left:1120px;
  top:395px;
  width: 10px;
  height: 10px;
  border: 2px solid #000;
  border-radius: 90%;
  background-color: black;
}



#house-cloud-left div {
 width: 120px;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  position: relative;
  box-shadow: 60px 0 #fff, 30px -30px #fff, 90px -10px #fff;
}

#house-cloud-right div {
  width: 120px;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  position: absolute;
  box-shadow: 60px 0 #fff, 30px -30px #fff, 90px -10px #fff;
}



#house-cloud-right-top {
  position: absolute;
  top: 20px;
  left: 1209px;
  transform: rotate(10deg);
}
#house-cloud-right-middle {
  position: absolute;
  top: 17px;
  left: 609px;
  transform: rotate(-3deg);
}

#house-cloud-right-bottom {
  position: absolute;
  top: 54px;
  left: 900px;
  transform: rotate(3deg);
}
#house-yard {

   position: absolute;
  right: 0;
  left: 0;
  top:445px;
  margin: auto;
 background-color: green;
  width: 1005px;
  height: 80px;
 
  border-radius: 0;
  
}