* {
  box-sizing: border-box;
}

body {
  background-color: #c9d2fc;
  margin: 0;
}

#house {
  position: relative;
  margin: 100px auto;
  background: linear-gradient(#4849e8 85%, #abc4ff 100%);
  width: 205px;
  height: 180px;
  border: 4px solid #000;
}

#roof {
  position: absolute;
  top: -100px;
  left: 3.px;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid #ddf344;
  z-index: 1;
}

#chimney {
  position: absolute;
  top: -50px;
  left: 20px;
  width: 25px;
  height: 60px;
  background-color: #5b5b5f;
  border: 1px solid #000;
  z-index: -1;
}

#window-1, #window-2 {
  position: absolute;
  top: 50px;
  width: 30px;
  height: 40px;
  background-color: #3b3b4f;
  border: 1px solid #000;
}

#window-1 {
  left: 25px;
}

#window-2 {
  left: 150px;
}

#house-left-inner-window, #house-right-inner-window {
  width: 20px;
  height: 30px;
  background-color: #abc4ff;
  margin: 5px auto;
}

#door {
  position: absolute;
  bottom: 0;
  left: 72px;
  width: 60px;
  height: 90px;
  background: radial-gradient(#ddf344 15%, #abc4ff 100%);
  border: 2px solid #000;
}

.house-door-knob {
  position: absolute;
  bottom: 45px;
  left: 125px;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  border: 1px solid #000;
}

.house-cloud-right div {
  width: 140px;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  position: absolute;
  box-shadow: 60px 0 #fff, 30px -30px #fff, 90px -10px #fff;
}

.house-cloud-right-top {
  top: 20px;
  left: 800px;
}

.house-cloud-right-middle {
  top: 80px;
  left: 1300px;
}

.house-cloud-right-bottom {
  top: 130px;
  left: 500px;
}

.house-yard {
  position: absolute;
  top: 280px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: green;
  width: 100%;
  height: 80px;
}
